@use "./base";
@use "./grid";
@use "./color";
@use "./utilities";

body {
	background-color: rgb(206, 144, 144);
	@include grid.sm {
		background-color: rgb(255, 195, 127);
	}
	@include grid.lg {
		background-color: aquamarine;
	}
}
